.model{
    display: flex;
    align-items: baseline
}
.model p{
    padding: 5px;
}
.footer{
    margin-top: 50px;
    text-align: center;
    background-image: linear-gradient(#AEB5BA, #344556);
    padding-bottom: 100px;
    padding-top: 30px;
}
.style{
    margin-top: 25px;
}
.contact h1{
    color: white;
    font-weight: 700;
}
.icon i{
    font-size: 30px;
    background-color: rgb(206, 203, 203);
    border-radius: 50%;
    padding: 10px;
} 
.icon a{
    text-decoration: none;
    color: black;
}